.vscode/

/docs/*/*.aux
/docs/*/*.bbl
/docs/*/*.blg
/docs/*/*.fdb_latexmk
/docs/*/*.fls
/docs/*/*.lof
/docs/*/*.log
/docs/*/*.lot
/docs/*/*.out
/docs/*/*.synctex.gz
/docs/*/*.toc

docs/design/design_document.pdf
docs/design/design_document.pdf
docs/ops_spec/operations_specification.pdf
docs/proposal/proposal.pdf
docs/validation/validation_specification.pdf
