---
layout: default
title: Notes
nav_active: /notes
---

{% assign date-filter = "%Y" %}
{% for post in site.notes %}
{% assign post_date = post.date | date: date-filter %}
{% if post_date != date %}
{% unless forloop.first %}</ul>{% endunless %}
{% assign date = post_date %}
<h2>{{ post_date }}</h2>
<ul>
{% endif %}
<li class="numeric"><span style="display:inline-block; min-width: 100px">{{ post.date | date: "%Y-%m-%d" }}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
{% if forloop.last %}</ul>{% endif %}
{% endfor %}