---
layout: minimum
---
<header class="jumbotron jumbotron-fluid py-5" style="background: linear-gradient(270deg, #4b6cb7 0%, #182848 100%);">
<div class="container">
    <small class="text-light" style="letter-spacing: 2px">UPDATE</small>
    <h1 class="display text-light">{{ page.title }}</h1>
	<p class="text-light lead m-0 mt-5">{{ page.date | date: "%Y-%m-%d" }}</p>
	<p class="text-light m-0">{{ page.author | join: ', ' }}</p>
</div>
</header>
<div id="c-content" class="container">{{ content }}</div>
<div class="container">
	<hr>
	<div class="post-navigation justify-content-between row" aria-label="Post navigation">
		<div class="col-6 float-left">
			{% if page.previous.url %}
			<small><b>&laquo; Previous</b></small>
			<br>
			<a href="{{page.previous.url}}">{{page.previous.title}}</a>
			{% endif %}
		</div>
		<div class='col-6' style="text-align:right">
			{% if page.next.url %}
			<small><b>Next &raquo;</b></small>
			<br>
			<a href="{{page.next.url}}">{{page.next.title}}</a>
			{% endif %}
		</div>
	</div>
</div>